/* Paramètres Généraux */

html,
body,
form,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
a {
  font-family: "Raleway";
  font-weight: bold;
}

p {
  font-family: "Raleway";
}

#blocpage {
  width: 100%;
  margin: auto;
}

/* HEADER */

/* le conteneur */

.containerheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headernav {
  display: flex;
  margin-right: 3%;
}
.Logohaut {
  cursor: pointer;
  margin-left: 20px;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  color: #0065fc;
}

header ul li a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 13px;
  color: #0065fc;
}

header ul li {
  margin-left: 28px;
}

a {
  text-decoration: none;
  color: black;
}

.inscrire a {
  color: #0065fc;
  margin-right: 0%;
}

.inscrire a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 21px;
}

.inscrire {
  padding-left: 28px;
}

.contenu {
  margin: 25px;
}
/* Phrase d'accroche */

.subtext {
  margin-bottom: -35px;
}

/* Formulaire de Recherche */

.logosearch {
  display: inline-flex;
  margin-top: 15px;
  align-items: center;
}

button {
  background-color: #0065fc;
  border: none;
  padding: 15px 15px;
  border-radius: 0px 10px 10px 0px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  font-size: 1em;
  cursor: pointer;
  margin: 0 -50px;
}

.iconemap {
  font-size: 25px;
  background-color: #f2f2f2;
  border-radius: 1rem 0 0 1rem;
  padding: 10px 10px;
  width: 30px;
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 0 1.5em;
  width: 60%;
  height: 50px;
  font-size: 15px;
}

.boutonderecherche {
  border-radius: 0px 18px 18px 0;
  padding: 15px;
  background-color: #0065fc;
  color: white;
  position: relative;
  right: 43px;
}

.loupelogo i {
  display: none;
}

/* Filtres*/

.titrefiltres {
  font-size: 1.3em;
  margin: 0 20px 0 0;
}

.titre {
  font-family: "Raleway", "Sans serif";
  font-weight: bold;
  padding-right: 1.5em;
  padding-left: 0.5em;
  cursor: pointer;
}

.barreFiltre:hover {
  background: #0065fc;
  color: #fff;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.barreFiltre {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 2em;
  border: 2px solid #d9d9d9;
  border-radius: 2em;
  font-weight: bold;
}

.filtres {
  display: flex;
  align-items: center;
}

.imagefiltre {
  padding: 15px 15px;
  border-radius: 50%;
  background-color: #deebff;
  cursor: pointer;
}

.fas {
  color: #0065fc;
}

.fa-map-marker-alt {
  color: black;
}

/* Information */

.info {
  display: flex;
}

.fa-info {
  text-align: center;
  color: #0065fc;
  border-radius: 100%;
  height: 33px;
  width: 33px;
  border: solid 1px #d9d9d9;
  padding: 7px;
  box-sizing: border-box;
}

.infotext {
  padding-left: 10px;
}
/* Hébergements à Marseille et Les plus populaires */

.hebergementetpop {
  display: flex;
  flex-direction: row;
  margin: 25px 0 50px;
}

/* Hébergements à Marseille */

#Hebergements {
  background-color: #f2f2f2;
  border-radius: 15px;
  flex: 70%;
  padding: 20px;
  margin: 0 25px 0 0;
}

.hebergementmarseille {
  display: flex;
  flex-wrap: wrap;
}

.hotel {
  flex: 30%;
  background: white;
  border-radius: 20px;
  padding: 5px;
  box-sizing: border-box;
  margin: 0 5px 20px 5px;
  box-shadow: 0 5px 16px #0000002e;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.hotel:hover {
  transform: scale(1.05);
}

.hotel img {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  transition-duration: 0.1s;
  cursor: pointer;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.hotel p {
  margin: 5px 10px;
  font-weight: 100;
}

.hotel h3 {
  margin: 3px 10px;
}

.etoiles {
  margin: 3px 10px;
}

.main {
  display: flex;
}

.afficherplus {
  color: black;
  padding-right: 8px;
}
/*  Les plus populaires */

#pluspopulaires {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 15px;
  flex: 30%;
  padding: 20px;
  flex-direction: column;
}

.hebergementspop {
  position: relative;
}

.hotelpop {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-sizing: border-box;
  margin: 0px 0px 20px 0px;
  height: 145px;
  box-shadow: 0 5px 16px #0000002e;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.hotelpop:hover {
  transform: scale(1.1);
}

.popimage {
  background-color: white;
  transition-duration: 0.1s;
  cursor: pointer;
  float: left;
  width: 45%;
  height: 92%;
  border-radius: 15px 0 0 15px;
  margin: 2px 10px 2px 0px;
  object-fit: cover;
}

.fa-chart-line:before {
  position: absolute;
  right: 43px;
  margin-top: -17px;
  color: black;
}

.grey {
  color: lightgrey;
}

.hotelpop h3 {
  margin: 7px;
}

.hotelpop p {
  margin: 0px;
  font-weight: 100;
}

.etoilespop {
  margin: 30px;
}

/* Activités à Marseille */

#Activite {
  width: 80%;
}

.containerActivites {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 496px;
  margin-top: 30px;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.blocActivite {
  width: 23%;
}

.Activite {
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
}

.Activite:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.titresection {
  color: black;
  font-size: 1.3em;
  padding-left: 8px;
}

.Activite img {
  width: 100%;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}

.activite1et4img {
  height: 440px;
}

.activite2img {
  height: 200px;
}

.activite3img {
  height: 111px;
}

.activite5img {
  height: 140px;
}

.activite6img {
  height: 167px;
}

.nomactivite {
  padding: 0 0px 5px 20px;
}

.Activite2 {
  margin: 0px 0px 61px;
}

.Activite5 {
  margin: 0px 0px 61px;
}
/* FOOTER */

footer {
  background-color: #f2f2f2;
}

.blockFooter {
  display: flex;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.interieurblockFooter {
  width: 40%;
}

.footerTitre {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
}

.lignesFooter {
  color: black;
  display: block;
  margin: 15px 0;
  font-weight: 500;
}

/* VERSION MOBILES */

@media screen and (min-width: 280px) and (max-width: 768px) {
  h2 {
    font-size: 20px;
    font-weight: bold;
  }

  H3 {
    font-size: 16px;
  }

  /* HEADER */

  header {
    align-items: center;
    margin-top: 20px;
  }

  .containerheader {
    margin-left: 10px;
    max-width: 1340px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .headernav {
    display: flex;
    align-items: center;
    margin-top: -35px;
    margin-bottom: 20px;
  }

  .Logohaut {
    margin-left: 5px;
  }

  /* HEADER/ Menu */

  .heberacti {
    display: flex;
    flex: 100%;
    margin-left: 10px;
    margin-bottom: -60px;
    margin-right: -80px;
    order: 1;
  }
  .inscrire {
    display: flex;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-top: 0px;
    order: 2;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2px;
  }

  nav ul li {
    border-bottom: 2px solid #f2f2f2;
  }

  header ul li {
    flex: 100%;
    text-align: center;
    margin-left: 0;
    padding: 0px;
  }

  header ul li a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }

  /* Bouton loupe */

  .logosearch {
    width: 100%;
  }

  input {
    font-size: 17px;
    width: 100%;
  }

  .loupelogo i {
    display: inline;
    color: white;
    background-color: #0065fc;
    padding: 18px;
    border-radius: 18px;
    position: relative;
    right: 1px;
  }

  .boutonderecherche {
    display: none;
  }

  /* Filtres */

  .filtres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .titrefiltres {
    margin-bottom: 10px;
  }
  .titre {
    font-size: 17px;
    padding-right: 7%;
    padding-left: 0.7em;
  }

  .barreFiltre {
    flex: 50%;
    margin-bottom: 10px;
    width: 53%;
  }

  .imagefiltre {
    padding: 12px 12px;
  }

  .fam {
    position: absolute;
    margin: 34px 0 0 52%;
    width: 34%;
  }
  .anim {
    width: 65%;
  }
  /* Hébergements à Marseille et Les plus populaires */

  .hebergementetpop {
    display: flex;
    flex-direction: column;
  }

  /* Hébergements à Marseille */

  #Hebergements {
    width: 100%;
    background-color: white;
    order: 2;
    margin: 0%;
    padding: 0;
  }

  .hebergementmarseille {
    display: flex;
    flex-direction: column;
  }

  .hotel {
    width: 95%;
    height: 210px;
    font-size: 14px;
  }

  .hotelpop {
    width: 95%;
    padding: 5px;
    margin: 8px;
    font-size: 14px;
  }

  .etoilespop {
    margin: 0px;
  }

  /* Les plus populaires */

  #pluspopulaires {
    width: 100%;
    margin: 0;
    padding: 0;
    order: 1;
    display: flex;
  }

  /* Activités à Marseille */

  .containerActivites {
    display: flex;
    height: auto;
    margin-bottom: 25px;
    justify-content: center;
  }

  .blocActivite {
    width: 100%;
    margin-top: 15px;
  }

  .Activite img {
    width: 100%;
    height: 100px;
  }

  .Activite {
    margin-bottom: 30%;
    height: 70px;
    margin-top: 15px;
  }

  .vieuxport {
    margin-bottom: 93px;
  }

  .fortpom {
    margin-bottom: 120px;
  }

  .ilesfrioul {
    margin-bottom: 105px;
  }

  .parcnat {
    margin-bottom: 90px;
  }

  .notredam {
    margin-bottom: 120px;
  }

  .parclong {
    margin-bottom: 100px;
  }

  .nomactivite {
    padding: 8px 0px 5px 20px;
    border-radius: 0 0 1.25rem 1.25rem;
    border-color: transparent;
    box-shadow: 0 5px 16px #0000002e;
    margin-top: -12px;
  }

  /* FOOTER */

  .blockFooter {
    display: flex;
    flex-direction: column;
  }

  .interieurblockFooter {
    width: auto;
  }
}

/* VERSION TABLETTE */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .containerheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .subtext {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  /* Formulaire de Recherche */

  .logosearch {
    position: relative;
    margin-bottom: 5px;
    margin-top: -15px;
    display: flex;
  }

  /* Filtres */
  .filtres {
    align-items: center;
    width: 100%;
  }

  .titre {
    font-size: 12px;
  }

  .barreFiltre {
    width: 18%;
  }

  .info {
    align-items: center;
    position: relative;
  }

  /* Hébergements à Marseille et Les plus populaires */

  .hebergementetpop {
    margin: 25px 0 50px;
    display: flex;
    flex-direction: column;
  }

  .titresection {
    text-align: center;
    padding-bottom: 5px;
  }

  /* Hébergements à Marseille */

  #Hebergements {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 0;
  }

  /* Les plus populaires */

  #pluspopulaires {
    width: 100%;
    position: relative;
    display: flex;
  }
  /* Activités à Marseille */

  .containerActivites {
    display: flex;
    height: auto;
    margin-bottom: 25px;
    justify-content: center;
  }

  .blocActivite {
    width: 100%;
    margin-top: 15px;
  }

  .Activite img {
    width: 100%;
    height: 100px;
  }

  .Activite {
    margin-bottom: 10%;
    height: 70px;
    margin-top: 15px;
  }

  .Activite2 {
    margin: 10px 0px 100px 0px;
  }

  .Activite5 {
    margin: 10px 0px 100px 0px;
  }

  .nomactivite {
    padding: 1px 0px 5px 20px;
    border-radius: 0 0 1.25rem 1.25rem;
    border-color: transparent;
    box-shadow: 0 5px 16px #0000002e;
    margin-top: -20px;
  }

  footer {
    border-radius: 0;
  }
}
